[submodule "tests/vendor/bandit"]
	path = tests/vendor/bandit
	url = http://github.com/c0der78/bandit.git
[submodule "libs/variant"]
	path = libs/variant
	url = http://github.com/c0der78/arg3variant.git
