obj
bin
Makefile
*.a
*.db
*.make
*.sublime-workspace
reinstall.sh
.deps
config.h.in~
*.o
.libs
stamp-h1
*.lo
*.log
*.cache
libtool
*.la
*.status
config.h
arg3mysql_*test
arg3sqlite_*test
*.gcno
coverage.info
.gradle
aclocal.m4
