obj
bin
Makefile
*.a
*.db
*.make
*.sublime-workspace
reinstall.sh
.deps
*.o
.libs
stamp-h1
*.lo
*.log
*.cache
libtool
*.la
config.status
config.h
*.gcno
coverage.info
.gradle
*~
*.tar.gz
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
build
*.bak
debug
release
Testing
html
latex
.vagrant-build
.vagrant
coverage
xcode
