obj
bin
Makefile
*.a
*.db
*.make
*.sublime-workspace
reinstall.sh
.deps
*.o
.libs
stamp-h1
*.lo
*.log
*.cache
libtool
*.la
config.status
config.h
arg3mysql_*test
arg3sqlite_*test
*.gcno
coverage.info
.gradle
*~
arg3db.pc
*.tar.gz
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
build
arg3db_test
*.bak
debug
release
Testing
