[submodule "tests/vendor/bandit"]
	path = tests/vendor/bandit
	url = http://github.com/joakimkarlsson/bandit.git
[submodule "tests/vendor/benchpress"]
	path = tests/vendor/benchpress
	url = http://github.com/blockchaindev/benchpress.git
[submodule "cmake"]
	path = cmake
	url = http://github.com/ryjen/cmake.git

